.site-nav-toggle, .site-nav-right {
  display: none;

  +mobile() {
    flex-column();
  }

  .toggle {
    color: var(--text-color);
    padding: 10px 0 100px 0;
    margin: 0 5px 10px 5px;
    width: 22px;

    .toggle-line {
      background: var(--text-color);
      border-radius: 1px;
    }
  }
}

.site-nav {
  +mobile() {
    display: none;
  }

  .site-nav-on & {
    display: block;
  }
}
